footer.footer
    .footer__top
        .container 
            .footer__top-wrapper
                .footer__top-logo
                    .footer__top-title #ПЕРВЫЙДЫМНЫЙ
                    .footer__top-descr Сеть кальянных и вейп магазинов
                    .footer__top-payment 
                        .footer__top-payment-subtitle Принимаем к оплате 
                        a.footer__top-payment-link(href="#")
                            img(src="img/master-card.png" alt="master") 
                        a.footer__top-payment-link(href="#")
                            img(src="img/visa.png" alt="visa") 
                        a.footer__top-payment-link(href="#")
                            img(src="img/mir-logo.png" alt="mir") 
                .footer__line 
                .footer__top-catalog 
                    .footer__top-catalog-title Каталог
                    .footer__top-catalog-items
                        .footer__top-catalog-items-col
                            a.footer__top-catalog-link(href="#") Табак для кальянов
                            a.footer__top-catalog-link(href="#") Кальяны
                            a.footer__top-catalog-link(href="#") Колбы
                        .footer__top-catalog-items-col
                            a.footer__top-catalog-link(href="#") Угли
                            a.footer__top-catalog-link(href="#") Чаши
                            a.footer__top-catalog-link(href="#") Комлектующие
                .footer__line
                .footer__top-popular 
                    .footer__top-popular-title Популярные разделы
                    .footer__top-popular-items 
                        a.footer__top-popular-link(href="#") Как сделать заказ?
                        a.footer__top-popular-link(href="#") Darkside
                        a.footer__top-popular-link(href="#") Табак для кальянов
                .footer__line
                .footer__top-network
                    .footer__top-network-title Мы в сети 
                    .footer__top-network-icons
                        a.footer__top-network-link(href="#")  
                            img(src="img/instagram.png" alt="instagram")
                        a(href="#") 
                            img(src="img/vk.png" alt="vk")
                .footer__line
                .footer__top-contacts 
                    .footer__top-contacts-title Контакты
                    .footer__top-contacts-call
                        .footer__top-ellipse
                            img(src="img/call.png" alt="call")
                        a.footer__top-contacts-call-link(href="tel:89005732985") 8 (900)  573-29-85
                    .footer__top-contacts-info 
                        .footer__top-ellipse 
                            img(src="img/letter.png" alt="letter")
                        a.footer__top-contacts-info-link(href="#") info @first-smoky.ru
                    .footer__top-contacts-time 
                        .footer__top-contacts-time-item Заказы с сайта принимаются круглосуточно.
                        .footer__top-contacts-time-item Обработка заказов ежедневно с 10:00 - 22:00
                    .footer__top-contacts-map 
                        a(href="#") Карта сайта 


    .footer__bottom 
        .container 
            .footer__bottom-wrapper 
                a(href="").footer__bottom-policy Политика конфиденциальности
                .footer__bottom-stores @ 2015-2020 Сеть магазинов кальянной продукции ‘Первый дым’
                .footer__bottom-development Сайт разработан



script(src="js/libs.min.js")
script(src="js/main.min.js")