header.header
    .container
        .header__wrapper
            .header__logo
                img.header__icon(src="img/header_icon.png" alt="header" )
                .header__descr Сеть кальянных и вейп магазинов
            .header__watch
                .header__time Мы работаем круглосуточно
                .header__hour Обработка с 10:00 до 22:00 без выходных
            .header__search
                form(action="#") 
                    input.header__find(type="search" placeholder="Поиск..")
                    img.header__glass(src="img/vector.png" alt="#")
            .header__choise
                .header__price
                    a(href="#") 
                        img(src="img/basket.png" alt="basket")
                .header__likes
                    a(href="#") 
                        img(src="img/heart.png" alt="heart")
            .header__phone 
                a(href="tel:89005732985") 8 (900) <span> 573-29-85
    .header__bottom 
        .container
            .header__bottom-wrapper 
                nav.header__nav-menu
                    .dropdown 
                        button.dropbtn 
                            img(src="img/cubes.png" alt="cubes")
                            .header__btn-descr Каталог товаров
                            .dropdown-content
                                a(href="contacts.html") Табак для кальяна
                                hr
                                a(href="#") Кальяны
                                hr
                                a(href="#") Колбы
                                hr
                                a(href="#") Угли
                                hr
                                a(href="#") Чаши
                                hr
                                a(href="#") Комплектующие
                    ul.header__nav-list
                        li.header__nav-item
                            a.header__nav-link(href="https://www.youtube.com/") Как сделать заказ?
                        li.header__nav-item 
                            a.header__nav-link(href="#") О нас
                        li.header__nav-item 
                            a.header__nav-link(href="#") Доставка и оплата 
                        li.header__nav-item 
                            a.header__nav-link(href="#") Адреса магазинов
                        li.header__nav-item 
                            a.header__nav-link(href="#") Бонусная программа
                        li.header__nav-item 
                            a.header__nav-link(href="#") Контакты

