section.promo 
    .container 
        .promo__slider
        .promo__wrapper
            .promo__title Каталог
            .promo__arrows
                .promo__arrows__prev
                    a(href="") 
                        img(src="img/prev.png" alt="prev") 
                .promo__arrows__next
                    a(href="") 
                        img(src="img/next.png" alt="next")

        .promo__cards-top 
            .promo__catalog-cards
                .promo__cards-top__img-wrapper
                    img.promo__tobacco(src="img/image_1.png" alt="#")
                .promo__cards-title Товары для табака
                .promo__cards-subtitle Самый большой выбор <br> популярных табаков.
                button.promo__btn Подробнее

            .promo__catalog-cards
                .promo__cards-top__img-wrapper
                    img.promo__hookah(src="img/hotpng_1.png" alt="#")
                .promo__cards-title Кальяны 
                .promo__cards-subtitle Самый большой выбор <br> популярных табаков.
                button.promo__btn Подробнее

            .promo__catalog-cards
                .promo__cards-top__img-wrapper
                    img.promo__coals(src="img/hotpng_2.png" alt="#")
                .promo__cards-title Угли для кальяна
                .promo__cards-subtitle Самый большой выбор <br> популярных табаков.
                button.promo__btn Подробнее

            .promo__catalog-cards
                .promo__cards-top__img-wrapper
                    img.promo__bulbs(src="img/image_9.png" alt="#")
                .promo__cards-title Колбы для кальяна
                .promo__cards-subtitle Самый большой выбор <br> популярных табаков.
                button.promo__btn Подробнее

        .promo__wrapper
            .promo__new Новое поступление
            .promo__arrows
                .promo__arrows__prev
                    a(href="") 
                        img(src="img/prev.png" alt="prev") 
                .promo__arrows__next
                    a(href="") 
                        img(src="img/next.png" alt="next")

        .promo__cards-bottom
            .promo__catalog-cards
                .promo__top-line
                    .promo__sale Скидка
                    .promo__heart#btnh1(onclick="Toggle1()")
                        <i class="fa-solid fa-heart"></i>
                .promo__cards-top__img-wrap
                    img.promo__ykap(src="img/wing_1.png" alt="wing")
                .promo__brand-title Y.K.A.P.
                .promo__brand-subtitle Кальян YKAP Killer K1
                .promo__bottom-line
                    .promo__prices
                        .promo__price 1 056 ₽
                        .promo__old-price <s>1 256 ₽</s>
                    .promo__basket
                        img(src="img/group_22.png" alt="basket")

            .promo__catalog-cards
                .promo__top-line
                    .promo__proceeds Новинка
                    .promo__heart#btnh2(onclick="Toggle2()")
                        <i class="fa-solid fa-heart"></i>
                .promo__cards-top__img-wrap
                    img.promo__ykap(src="img/wing_1.png" alt="wing")
                .promo__brand-title Y.K.A.P.
                .promo__brand-subtitle Кальян YKAP Killer K1
                .promo__bottom-line
                    .promo__price 1 256 ₽
                    .promo__basket
                        img(src="img/group_22.png" alt="basket")

            .promo__catalog-cards
                .promo__top-line
                    .promo__sale Скидка
                    .promo__heart#btnh3(onclick="Toggle3()")
                        <i class="fa-solid fa-heart"></i>
                .promo__cards-top__img-wrap
                    img.promo__shot(src="img/wing_2.png" alt="wing")
                .promo__brand-title Darkside Shot
                .promo__brand-subtitle Darkside Core 30гр
                .promo__bottom-line
                    .promo__prices
                        .promo__price 1 056 ₽
                        .promo__old-price <s>1 256 ₽</s>
                    .promo__basket
                        img(src="img/group_22.png" alt="basket")

            .promo__catalog-cards
                .promo__top-line
                    .promo__proceeds Новинка
                    .promo__heart#btnh4(onclick="Toggle4()")
                        <i class="fa-solid fa-heart"></i>
                .promo__cards-top__img-wrap
                    img.promo__shot(src="img/wing_2.png" alt="wing")
                .promo__brand-title Darkside Shot
                .promo__brand-subtitle Darkside Core 30гр
                .promo__bottom-line
                    .promo__price 1 256 ₽
                    .promo__notice 
                        img(src="img/notice.png" alt="notice")

        h3.promo__stores Наши магазины в Калуге
        .promo__location
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2754.376353117742!2d36.25689098387905!3d54.51330058005541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4134bbcd9302bda3%3A0x891c5b72d1382937!2z0KLQtdCw0YLRgNCw0LvRjNC90LDRjyDRg9C7LiwgNSwg0JrQsNC70YPQs9CwLCDQmtCw0LvRg9C20YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGPLCAyNDgwMDE!5e0!3m2!1sru!2sfr!4v1666107309248!5m2!1sru!2sfr" width="100%" height="608" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            .promo__info



