@import "./normalize";
@import "./reset";

$pink_color: #c80a70;
$blue_color: #088acc;
$deff_font: "Bebas Neue", sans-serif;

* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    padding: 0 20px;
    max-width: 1140px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #070709;
    background-image: url("../img/dark-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    &__wrapper {
        margin-top: 2.0429009193054135vh;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        width: 100%;
        padding: 0 15px;
        height: 100vh;
        justify-content: space-around;
    }

    &__logo {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width: 1366px) {
            width: 325px;
        }
        @media screen and (min-width: 768px) {
            max-width: 463px;
        }
        @media screen and (max-width: 650px) {
            margin: 0 auto;
            width: 300px;
        }
        @media screen and (max-width: 425px) {
            width: 250px;
        }
    }

    &__wheel-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__wheel {
        margin-top: 60px;
        max-width: 320px;
        animation-name: rotation;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin-right: auto;
        margin-left: auto;
        @media screen and (max-width: 1366px) {
            width: 282px;
        }
        @media screen and (min-width: 768px) {
            margin: 0 auto;
            max-width: 497px;
        }
        @media screen and (max-width: 650px) {
            margin-top: 0;
        }
        @media screen and (max-width: 540px) {
            max-width: 300px;
            margin-right: auto;
            margin-left: auto;
        }
        @media screen and (max-width: 425px) {
            max-width: 270px;
        }
    }

    &__unlock {
        position: absolute;
        top: 44px;
        bottom: 0;
        left: 0;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 373px;
        @media screen and (max-width: 1366px) {
            width: 245px;
            top: 27px;
        }
        @media screen and (max-width: 768px) {
            max-width: 375px;
            top: 25px;
        }
    }

    &__claim {
        display: block;
        font-family: $deff_font;
        font-weight: 400;
        color: #adfefd;
        font-size: 115.2px;
        line-height: 100px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 68px;
        border: 4.8px solid #adfefd;
        padding: 11px 8px 0px 8px;
        width: 100%;
        transition: 0.25s background;
        z-index: 15;
        &:hover {
            background: #00b2ff;
        }

        @media screen and (max-width: 540px) {
            font-size: 105px;
        }
        @media screen and (max-width: 425px) {
            font-size: 90px;
        }
        @media screen and (max-width: 375px) {
            font-size: 80px;
        }

        &-wrap {
            position: relative;
            width: 100%;
            max-width: 500px;
            margin-bottom: 40px;
            margin-top: 80px;
            z-index: 1;
            @media screen and (max-width: 1366px) {
                margin-top: 20px;
                margin-bottom: 30px;
            }
        }

        &-layer {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            border-radius: 68px;
            z-index: -1;
            &--pink {
                box-shadow: 0 0 0 0 $pink_color;
                animation: 2s pulse-pink infinite linear;
            }
            &--blue {
                box-shadow: 0 0 25px 10px $blue_color;
                animation: 2s pulse-blue infinite linear;
            }
        }
    }

    &__social {
        &-img {
            width: 300px;
            max-width: 100%;
            height: 54px;
            @media screen and (max-width: 650px) {
                max-width: 250px;
            }
        }
        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 600px;
            background: rgba(#fff, 0.5);
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            color: #fff;
            & svg {
                width: 100%;
                height: 100%;
            }
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
    &__buttons-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

html[lang="fr"] {
    .main__claim-france {
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 1366px) {
            padding: 15px 10px;
        }
    }
    .main__claim {
        font-size: 60px;
        line-height: 75px;
        @media screen and (max-width: 540px) {
            font-size: 50px;
            line-height: 60px;
            padding: 15px 10px 12px;
        }
        @media screen and (max-width: 425px) {
            font-size: 40px;
            line-height: 30px;
        }
    }
}

html[lang="it"] {
    .main__claim {
        @media screen and (max-width: 992px) {
            font-size: 105px;
        }
        @media screen and (max-width: 540px) {
            font-size: 90px;
        }
        @media screen and (max-width: 425px) {
            font-size: 80px;
            line-height: 80px;
        }
        @media screen and (max-width: 375px) {
            font-size: 70px;
            line-height: 70px;
        }
    }
}

html[lang="es"] {
    .main__claim {
        font-size: 80px;
        @media screen and (max-width: 540px) {
            font-size: 65px;
            line-height: 80px;
        }
        @media screen and (max-width: 425px) {
            font-size: 55px;
            line-height: 70px;
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse-blue {
    0% {
        box-shadow: 0 0 25px 10px $blue_color;
    }

    50% {
        box-shadow: 0 0 0 0 $blue_color;
    }

    100% {
        box-shadow: 0 0 25px 10px $blue_color;
    }
}

@keyframes pulse-pink {
    0% {
        box-shadow: 0 0 0 0 $pink_color;
    }

    50% {
        box-shadow: 0 0 25px 10px $pink_color;
    }

    100% {
        box-shadow: 0 0 0 0 $pink_color;
    }
}
